html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	scroll-behavior: smooth;
	box-sizing: border-box;
}
img {
	vertical-align: bottom;
}
a {
	text-decoration: none;
	color: #000000;
}
nav a:hover {
	color: #000;
	transition: 500ms;
}
a.main,
button {
	position: relative;
	transition: color 0.5s cubic-bezier(0.75, 0, 0.125, 1);
	overflow: hidden;
	background: none;
	display: inline-block;
	z-index: 0;
}
a.main:hover,
button:hover {
	color: #fff;
}
a.main::before,
button::before {
	position: absolute;
	font-family: Material Icons, serif;
	background-color: #151515;
	content: 'arrow_downward';
	transition: -webkit-transform 0.5s cubic-bezier(0.75, 0, 0.125, 1);
	transition: transform 0.5s cubic-bezier(0.75, 0, 0.125, 1);
	left: 0;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	bottom: 100%;
	align-items: center;
	color: #fff;
	z-index: -1;
	box-sizing: border-box;
	padding-right: 20px;
}
.bgc a.main:hover,
button:hover {
	color: #091c27;
}
.bgc a.main::before,
button::before {
	background-color: #fff;
	color: #091c27;
}
#project a.main::before {
	content: 'arrow_forward';
}
button::before {
	content: 'done';
}
a.main:hover::before,
button:hover::before {
	transform: translate3d(0, 100%, 0);
}
.container {
	width: 1550px;
	margin: 0 auto;
}
.container-about {
	width: 1120px;
	margin: 0 auto;
	padding-bottom: 74px;
}
.container-footer {
	width: 208px;
	margin: 24px auto;
}
.t-center {
	text-align: center;
}
.d-flex {
	display: flex;
	justify-content: space-between;
}
.start {
	justify-content: flex-start;
}
nav ul li {
	display: inline;
}
nav ul li a {
	text-transform: uppercase;
	font-size: 12px;
	margin-left: 78px;
	color: rgba(0, 0, 0, 0.55);
	font-weight: 500;
}
p.logo span {
	font-weight: bold;
}
p.logo {
	font-size: 16px;
}
.bgc {
	background-color: #091c27;
	color: #fff;
}
.bgc a.btn {
	border-color: #fff;
	color: #fff;
}
header {
	margin-top: 70px;
}
h1 {
	font-weight: bold;
	font-size: 50px;
	line-height: 150%;
	margin-top: 316px;
	margin-bottom: 71px;
}
h2 {
	font-weight: bold;
	font-size: 42px;
	text-align: center;
	padding-top: 98px;
}
h3 {
	font-size: 24.5px;
	font-weight: bold;
	line-height: 120%;
}
h4 {
	font-weight: bold;
	font-size: 16px;
	margin-top: 8px;
}
h5 {
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}
.space {
	margin-bottom: 157px;
}
.space-description-btn {
	margin-top: 24px;
}
a.btn,
button {
	font-weight: 600;
	font-size: 16px;
	padding: 16px 47px;
	border: 2px solid #000000;
}
button {
	background-color: initial;
	border: 1px solid #fff;
	color: #fff;
	width: initial;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
}
span.line {
	width: 72px;
	height: 3.5px;
	background-color: #fff;
	display: block;
	margin: 16px auto 97px auto;
}
.col {
	width: 531px;
}
.col-1 {
	width: 391px;
}
.col p,
.col-1 p {
	line-height: 150%;
}
.col span,
.col-1 span {
	width: 40px;
	height: 2px;
	margin: 8px 0 16px 0;
}
.col h3:nth-child(5) {
	margin-top: 21px;
}
.mt-83 {
	margin-top: 83px;
}
.white span.line {
	background-color: #000000;
}
.white h3 {
	color: #777777;
	font-weight: 400;
	margin-bottom: 96px;
}
.project-description p {
	font-size: 14px;
	color: #777777;
	line-height: 150%;
}
.project-description {
	margin-top: 66px;
}
.project-description p:nth-child(3) {
	margin-bottom: 16px;
}
p.smallTittle {
	font-size: 11.5px;
}
.project-description h2 {
	margin: 8px 0;
	padding: 0;
	text-align: left;
}
form {
	width: 730px;
	margin: 0 auto;
	padding-bottom: 144px;
}
footer,
footer a {
	background-color: #091c27;
	color: #8a8a8a;
}
.bg-black {
	background-color: #151515;
}
footer p.logo {
	color: #fff;
	padding-top: 40px;
	font-weight: 400;
}
.bg-wave {
	background-image: url(../img/wave.svg);
	height: 19vh;
	width: 100%;
	background-repeat: repeat-x;
	animation: wave 25s linear infinite;
}
.reverse {
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
	filter: FlipV;
	-ms-filter: 'FlipV';
}
.social a {
	background-color: inherit;
}
.black-wave {
	background-image: url(../img/black-wave.svg);
}
footer p {
	font-size: 14px;
	font-weight: 500;
}
.nav p {
	margin-top: 8px;
}
.copyright {
	padding-bottom: 76px;
}
input,
textarea {
	background-color: initial;
	border: none;
	border-bottom: 1px solid #fff;
	width: 100%;
	padding: 8px 8px 8px 32px;
}

label {
	padding: 8px 8px 8px 32px;
}
label:hover {
	display: none;
}
.rPosition {
	position: relative;
	margin-bottom: 42px;
}
.aPosition {
	position: absolute;
	left: 0;
}
.material-icon {
	font-family: 'Material Icons';
	font-size: 24px;
}
footer .fab {
	font-size: 20px;
	background-color: inherit;
}
.container-about .fab {
	font-size: 29px;
	margin: 0px 16px 8px 0;
	color: #fff;
}
.fa-linkedin {
	margin: 8px 8px 0 0;
}
.col span {
	font-weight: bold;
	color: #fff;
}
@keyframes wave {
	from {
		background-position-x: 0;
	}
	to {
		background-position-x: -3810px;
	}
}
.labelFocus {
	transition: all 200ms;
	z-index: 5;
}
.inputHover {
	color: #fff;
	z-index: 150;
}
.inputHover:focus + .labelFocus,
.inputHover:valid + .labelFocus {
	font-size: 75%;
	transform: translate3d(0, -100%, 0);
	transition: all 200ms;
	padding-left: 0;
}
.project img {
	margin-left: 30px;
}
@media screen and (max-width: 1600px) {
	.container {
		width: calc(100% - 30px);
	}
}
@media screen and (max-width: 1265px) {
	.project {
		flex-direction: column-reverse;
		justify-content: center;
	}
	.project-description,
	.project-description h2,
	.presentation-project {
		text-align: center;
	}
	.project-description {
		margin-bottom: 45px;
	}
	.space-description-btn {
		justify-content: space-around;
	}
	.project img {
		margin-left: 0;
	}
}
@media screen and (max-width: 1180px) {
	.container-about {
		width: calc(100% - 30px);
	}
	.col-1 {
		margin-left: 60px;
	}
}
@media screen and (max-width: 770px) {
	form {
		width: calc(100% - 30px);
	}
	.start {
		justify-content: center;
	}
	nav ul li a {
		margin-left: 20px;
	}
	.presentation-project img {
		width: 100%;
	}
}
@media screen and (min-width: 500px) {
	nav button.hamburger {
		display: none;
	}
}
@media screen and (max-width: 500px) {
	nav ul {
		display: none;
	}
	nav button.hamburger::before {
		content: none !important;
	}
	header .d-flex {
		align-items: center;
	}
	.container-about .d-flex {
		flex-direction: column;
	}
	.col-1 {
		margin: 30px 0 0 0;
	}
	.col,
	.col-1 {
		width: 100%;
	}
	.space-description-btn {
		flex-direction: column;
		justify-content: center;
	}
	.space-description-btn a:nth-child(1) {
		margin-bottom: 15px;
	}
	a.btn {
		width: 100%;
	}
	.landing-page a.btn {
		width: calc(100% - 30px);
	}
	h1 {
		margin-top: 150px;
	}
	.space {
		margin-bottom: 30px;
	}
	.aos-init {
		opacity: 1;
		transition: unset !important;
		transform: initial;
	}
	[data-aos^='fade'][data-aos^='fade'] {
		opacity: 1 !important;
	}
}
